@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-link: "JetBrains Mono", monospace;
  --color-primary: #f8fafc; /* ghost white for background color */
  --color-secondary: #f1f5f9; /* white background color for cards */
  --color-button: #314357; /* dark navy for buttons */
  --color-button-hover: #435b75; /* slightly ligther navy for hover */
  --color-button-text: #ffffff; /* white for text color on buttons */
  --color-text: #1e293b; /* dark color for text */
  --color-jobcard-button-hover: #ececec;
  --color-jobcard-border: #cbd5e1;
  --color-modal-button-hover: #ececec;
  --color-modal-ring: #ffca28;
}

@layer theme {
  .dark {
    --color-primary: #0f172a; /* deep nayv background color */
    --color-secondary: #1e293b; /* slate blue background color for cards */
    --color-button: #d2c1b6; /* cloud white for buttons */
    --color-button-hover: #e0d9d9; /* lighter creme for hover */
    --color-button-text: #0e2e3b; /* navy for text color on buttons */
    --color-text: #f1f5f9; /* light color for text */
    --color-jobcard-button-hover: #314357;
    --color-jobcard-border: #334155;
    --color-modal-button-hover: #4a5568;
    --color-modal-ring: #4a5568;
  }
}

@layer base {
  body {
    background-color: var(--color-primary);
  }

  body.loaded {
    @apply bg-primary transition-colors duration-500;
  }
}
