@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #ececec; /* light background color */
  --color-secondary: #fafafa; /* darker background color for cards */
  --color-button: #53a8b6; /* dark color for buttons */
  --color-button-hover: #319795; /* dark teal for hover */
  --color-button-text: #fff; 
  --color-text: #041122; /* dark color for text */
}

@layer theme {
  .dark {
    --color-primary: #314357; /* dark background color */
    --color-secondary: #0e2e3b; /* lighter background color for cards */
    --color-button: #d2c1b6; /* light color for buttons */
    --color-button-hover: #e0d9d9; /* dark teal for hover */
    --color-button-text: #0e2e3b; 
    --color-text: #d1dbbd; /* light color for text */
  }
}
